<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Job_Portal</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddJobServlet</display-name>
    <servlet-name>AddJobServlet</servlet-name>
    <servlet-class>com.servlets.AddJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddJobServlet</servlet-name>
    <url-pattern>/addJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditPostServlet</display-name>
    <servlet-name>EditPostServlet</servlet-name>
    <servlet-class>com.servlets.EditPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditPostServlet</servlet-name>
    <url-pattern>/EditPostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteJobServlet</display-name>
    <servlet-name>DeleteJobServlet</servlet-name>
    <servlet-class>com.servlets.DeleteJobServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteJobServlet</servlet-name>
    <url-pattern>/DeleteJobServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppliedJobs</display-name>
    <servlet-name>AppliedJobs</servlet-name>
    <servlet-class>com.servlets.AppliedJobs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppliedJobs</servlet-name>
    <url-pattern>/appliedJobs</url-pattern>
  </servlet-mapping>
</web-app>